@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap');

body{
    background-color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}

.imgconfoto{
    position: relative;
    padding: 0px;
    margin: 0px;
}

#imgcabecera{
    width: 100%;
    height: auto;
}

#titulo{
    font-family: 'Khula', sans-serif;
    color: #040A22;
    font-size: 100px;
    position:absolute;
    bottom: 0px;
    right: 100px;
}

h2{
    font-size: 30px;
    color: #1F1F26;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #1F1F26;
}

.tirafotos{
    background-color: #2B5F8C;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.tirafotos > img{
    padding: 5px;
    position: relative;
    width: auto;
    height: 200px;
    display: inline-block;
}

nav{
    max-width: 100%;
    margin: auto;
    background-color: #1D5273;
    font-size: 25px;
}
.menuhorizontal{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menuhorizontal > li{
    color: #F2F2F2;
    padding: 10px 60px;
    border: 0px;
    float:left;
}

.menuhorizontal>li a, ul{
    display: inline-block;
    text-decoration: none;
    padding: 14px 16px;
    color: #F2F2F2;
}


.menuhorizontal > li:hover{
    background-color: #2B5F8C;
}

.menuvertical{
    position: absolute;
    display: none;
    list-style: none;
    z-index: 1;
    background-color: #2B5F8C;
}

.menuhorizontal li:hover .menuvertical{
    display: block;
}

.menuvertical li:hover{
    background-color: #2B5F8C;
}

.menuvertical li a{
    display: block;
    color: #F2F2F2;
    text-decoration: none;
    text-align: left
}

footer{
    color: #F2F2F2;
    width: 100%;
    background-color: #1F1F26;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; 
    margin: 0;
    display: inline-block;
}

#logo{
    width: 25%;
    height: auto;
}

